.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-block: 2rem;
  }

  h3 {
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
  }

  h3:hover {
    background-color: var(--navbar-color);
  }

  h3:after {
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }

  p {
    margin: auto;
    width: 60%;
    text-align: justify;
    padding: auto;
  }
}
