.Tagline {
  color: var(--font-color-primary);
  margin-block: 3rem;
  font-size: 16px;
  text-align: center;

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.8rem;
    margin-block: 1.2rem;
  }

  img {
    margin-top: 1.5rem;
    width: 90%;
    height: 40rem;
    margin-inline: auto;
    display: block;
    border-radius: 15px;
  }

  p {
    font-size: 1.3rem;
  }
}

.getstarted {
  margin-inline: auto;

  button {
    display: block;
    margin-inline: auto;
  }
}
