.Tagline {
  color: var(--font-color-primary);
  margin-block: 3rem;
  font-size: 16px;
  text-align: center;

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.8rem;
    margin-block: 1.2rem;
  }

  img {
    margin-top: 1.5rem;
    width: 90%;
    height: 40rem;
    margin-inline: auto;
    display: block;
    border-radius: 15px;
  }

  h2 {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}

.getstarted {
  margin-inline: auto;

  button {
    display: block;
    margin-inline: auto;
    color: var(--alternate-color);
  }
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--hover-color) 50%, var(--background-color) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}