.about-container {
  h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 3.4rem;
  }

  img {
    margin-top: 2rem;
    width: 10%;
    height: auto;
    margin-inline: auto;
    display: block;
  }

  section:first-of-type {
    margin-inline: auto;
    width: 110ch;

    p {
      text-align: justify;
    }
  }

  .about-wrapper {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    div {
      width: 600px;
      
      
      
      img {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        scale: 1;
        width: 30%;
       
      }
      img :hover {
        transform: scale(1.2);
      }

      p {
      }
    }
  }
}
