.about-container {
  h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 3.4rem;
  }

  img {
    margin-top: 2rem;
    width: 10%;
    height: auto;
    margin-inline: auto;
    display: block;
  }

  section:first-of-type {
    margin-inline: auto;
    width: 110ch;

    p {
      text-align: justify;
    }
  }

  .about-wrapper {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;

    div {
      display: flex;
      width: 600px;
      flex-direction: column;

      img {
      }

      h2 {
      }

      p {
      }
    }
  }
}
