.card_body {
    margin: 2rem;
}

.wrapper {
    display: grid;
    margin-block: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    gap: 5rem;
    justify-content: center;
}

.card {
    overflow: hidden;
    /* box-shadow: 4px 23px 34px 0px rgba(54, 41, 41, 0.1); */
    /* box-shadow: 4px 1px 34px 0px var(--font-color-login); */
    box-shadow: 0 2px 10px var(--font-color-login);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card_image {
    height: 11rem;
    width: 100%;
    object-fit: cover;
    scale: 1;
    transition: scale 200ms ease-in;
}

.wrapper :hover .card_image {
    scale: 1.2;
}

.card_title {
    font-size: 1.2rem;
    padding: 1rem;
}



.card_btn {
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--hover-color);
    background: transparent;
    color: var(--hover-color);
    border-radius: 0.9rem;
    transition: 200ms ease-in, color 200ms ease-in;
}

.card_btn:hover {
    background: var(--hover-color);
    color: rgba(255, 255, 255, 0.9);
}