.card-body {
    margin: 2rem;
}


.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin-block: 3rem;
    gap: 3rem;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
}

.card {
    overflow: hidden;
    /* box-shadow: 4px 23px 34px 0px rgba(54, 41, 41, 0.1); */
    /* box-shadow: 4px 1px 34px 0px var(--font-color-login); */
    box-shadow: 0 1px 5px var(--font-color-login);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card-image {
    height: 11rem;
    width: 100%;
    object-fit: cover;
    scale: 1;
    transition: scale 200ms ease-in;
}

.wrapper :hover .card-image {
    scale: 1.2;
}

.wrapper :hover .card-title {
    margin-top: 2rem;
}

.card-title {
    font-size: 1.1rem;
    margin-top: 2rem;
    /* padding: 1rem; */
}

.card-description {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 200;
}

.card-author {
    margin-top: 1rem;
    /* text-align: left; */
    font-size: 0.85rem;
    font-weight: 400;
}

.card-publishedAt {
    font-size: 0.7rem;
    font-weight: 200;
}

.card-sourcename {
    font-size: 0.7rem;
    font-weight: 200;
}


.card-btn {
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--hover-color);
    background: transparent;
    color: var(--hover-color);
    border-radius: 0.9rem;
    transition: 200ms ease-in, color 200ms ease-in;
}

.card-btn:hover {
    background: var(--hover-color);
    color: rgba(255, 255, 255, 0.9);
}