.student-wrapper {
  margin-top: 3rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    margin-block: 3rem;
    font-size: 3.5rem;
  }
  .student-details {
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
    display: flex;
    width: 60%;
    justify-content: space-around;
    background-color: var(--navbar-color);
    padding: 8rem;

    img {
      border-radius: 30%;
      box-shadow: var(--box-shadow);
    }
    span{
      align-self: flex-end;
      cursor: pointer;
    }
    div {
      margin-block: auto;
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    h3 {
      font-weight: 400;
    }
  }
}
