.student-wrapper {
  margin-top: 3rem;
  margin-left: 2rem;

  .student-details {
    box-shadow: var(--box-shadow);
    border-radius: 0.6rem;
    display: flex;
    width: 50%;
    justify-content: space-around;
    background-color: var(--navbar-color);
    padding: 3rem;

    img {
      border-radius: 30%;
      box-shadow: var(--box-shadow);
    }
    div {
      margin-block: auto;
    }

    h3 {
      font-weight: 400;
    }
  }
}
