.Tagline {
    color: var(--font-color-primary);
    margin-block: 3rem;
    font-size: 16px;
    text-align: center;

}

p {
    top: auto;
    margin-block: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

body {
    background-color: var(--background-color);
    /* background-image: linear-gradient(180deg, rgb(41, 137, 197), rgb(61, 11, 222)); */
}

.Landing-image {
    width: 90%;
    height: 40rem;
    margin-inline: auto;
    display: block;
    border-radius: 15px;
}


.btn-getstarted {
    display: block;
    margin-inline: auto;
}