.menuIcon {
  background: var(--font-color-secondary);
  padding-block: 10px;
  padding: 0 30px;
  height: 60px;
  border-radius: 8px;
  width: 99%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.Logo {
  color: var(--font-color-primary);
  font-size: 1.6rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 5rem;

}

a {
  text-decoration: none;
  /* color: var(--font-color-primary); */
  color: var(--font-color-primary);
}


.navbar li {
  list-style: none;
  font-weight: var(--font-weight);
  color: var(--hover-color);
  font-size: var(--font-size);
  text-decoration: none !important;
}

.navbar li ::after {

  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 100%;
  background: var(--hover-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 400ms ease-out;
}

.navbar li:hover li::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar li .active::after {
  transform: scaleX(1);
  transform-origin: initial;
}

button {
  background: transparent;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border: none;
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
  border-radius: 2rem;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: var(--hover-color);
  color: rgba(255, 255, 255, 0.9);
}

#themeIcon {
  width: 2rem;
  top: 2rem;
  height: auto;
  cursor: pointer;
  /* display: flex; */

}

.icons {
  flex: 1;
  text-align: right;
  gap: 2rem;

  /* display: flex; */
}

#mobile i {
  color: #fff;
}

@media screen and (max—width: 850px) {

  .menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: flex—start;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;

  }

}