@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: purple;
  /* --font-color-primary: rgb(255, 255, 255);
    --font-color-secondary: rgb(23, 25, 31);
    --font-color-ternary: rgb(14, 18, 23); */
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  --hover-color: #0c9f51;
  --margin-block: 3rem;
  --font-weight: 600;
  --font-size: 1.3rem;
}

.dark-theme {
  --font-color-primary: rgb(255, 255, 255);
  --font-color-secondary: #666;
  --navbar-color: rgb(43, 44, 55);
  --background-color: rgb(32, 33, 44);
  --alternate-color: #fff;
  --box-shadow: 0px 5px 10px rgba(14, 18, 23, 0.5);
}

.light-theme {
  --font-color-primary: rgb(14, 18, 23);
  --font-color-secondary: #666;
  --navbar-color: #c5d3f7;
  --background-color: #e1e9ff;
  --alternate-color: rgb(43, 44, 55);
  --box-shadow: 4px 23px 34px 0px rgba(54, 41, 41, 0.1);
}

* {
  // color: var(--font-color-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
a,
li,
ul,
div {
  color: var(--font-color-primary);
}

p{
  color: var(--font-color-secondary);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.icons {
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--navbar-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--font-color-primary);
  border-radius: 10px;
}

body {
  background-color: var(--background-color);
  /* background-image: linear-gradient(180deg, rgb(41, 137, 197), rgb(61, 11, 222)); */
}

button {
  background: transparent;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border: none;
  color: var(--hover-color);
  border: 2px solid var(--navbar-color);
  border-radius: 1.5rem;
  font-size: 14px;
  cursor: pointer;
  transition: all ease-in 0.25s;
}

button:hover {
  background: var(--hover-color);
  color: white;
}

button-sec {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button-sec:hover {
  background-color: #1a1a1a;
}
