:root {
    --bg-color: purple;
    /* --font-color-primary: rgb(255, 255, 255);
    --font-color-secondary: rgb(23, 25, 31);
    --font-color-ternary: rgb(14, 18, 23); */
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    --hover-color: #0c9f51;
    --margin-block: 3rem;
    --font-weight: 600;
    --font-size: 1.3rem;
}

.dark-theme {
    --font-color-primary: rgb(255, 255, 255);
    --font-color-secondary: rgb(43, 44, 55);
    --font-color-ternary: rgb(32, 33, 44);
    --font-color-login: rgb(255, 255, 255);
}

.light-theme {
    --font-color-primary: rgb(14, 18, 23);
    --font-color-secondary: rgb(132, 181, 230);
    --font-color-ternary: rgb(255, 255, 255);
    --font-color-login: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: var(--font-color-primary);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--font-color-ternary);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--font-color-primary);
    border-radius: 10px;
}