.answer-dropdown-content {
  form {
    margin-bottom: 0 !important;
  }
}

.dropdown-answer-edit {
  //   height: 100%;
  background-color: var(--navbar-color) !important;
  z-index: 10;
  width: 100%;
}

.answer-dropdown-more {
  //   position: relative;

  .dropdown-answer-edit {
    position: absolute;
    top: 0;
    left: 0;
  }
}
