* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  width: 100%;


}

.box {
  width: 35%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  padding: 50px;
  margin-inline: auto;
  margin-top: 3rem;
  background: var(--navbar-color);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
}

.box h1 {
  margin-bottom: 25px;
  /* color: var(--alternate-color); */
  text-align: center;
  text-transform: capitalize;
}

.box .input-box {
  position: relative;
}

.box .input-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  /* color: var(--alternate-color); */
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--alternate-color);
  background: transparent;
  outline: none;
}

.box .input-box label {
  /* position: absolute; */
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  /* color: var(--alternate-color); */
  transition: 0.5s;
}

.btn-register {
  background: transparent;
  border: none;
  outline: none;
  margin-top: 2rem;
  display: block;
  margin-inline: auto;
  /* color: var(--alternate-color); */
  font-size: 14px;
}

.btn-register:hover {
  color: gray;
}

.forget-navigation {
  margin-top: 2rem;
  display: flex;
  gap: 24rem;
}

.fa-solid:hover {
  scale: 1.2;
}