.answer-wrapper {
  display: grid;
  grid-template-columns: auto 30%;
  margin-top: 2rem;
  .first-col {
    width: 80%;
    margin-inline: auto;
  }

  .love,
  .delete,
  .report {
    font-size: 1.5rem;
    // color: var(--hover-color);
    transition: all ease-in 0.25s;
  }

  .love:hover,
  .delete:hover,
  .report:hover {
    color: var(--hover-color);
    fill: var(--hover-color);
  }

  img {
    border-radius: 50%;
    border: 1px solid #ccc;
  }

  .image {
    border-radius: 0;
    border: none;
  }

  .answer-header h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .question-content p:first-child {
    display: inline;
    font-size: 1.2rem;
    font-weight: 600;
    /* margin-bottom: 5rem; */
  }

  .question-content p:last-child {
    width: 80%;
    margin-top: 0.8rem;
    font-size: 1rem;
    color: #666;
  }

  .question {
    display: grid;
    grid-template-columns: 10% auto;
    column-gap: 1rem;
  }

  .question-content {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;

    .fullscreen-image {
      position: absolute;
      z-index: 9999;
      top: 0;
      left: 0;
      inset: 0;
      // width: 50vw;
      // height: 50vh;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .question-image {
      cursor: pointer;
    }

    .description {
      max-width: 900px;
      max-height: 500px;
      overflow-y: auto;
      overflow-x: auto;
    }
    span {
      margin-left: auto;
    }

    image {
      grid-column: 1/-1;
    }

    div {
      grid-column: 1/-1;
    }
  }

  form {
    /* display: block; */
    margin-bottom: 2rem;
    /* text-align: center; */
  }

  .button {
    display: flex;
    width: 80%;
    margin-inline: auto;
    gap: 3rem;

    p {
      color: rgb(187, 112, 112);
      align-self: center;
    }
  }

  form .form-profile {
    display: grid;
    grid-template-columns: 10% 60%;
    margin-bottom: 2rem;
  }

  .form-profile textarea {
    font-size: 1rem;
    flex-basis: 60%;
    resize: none;
    border: 1px solid #ccc;
    color: var(--alternate-color);
    padding: 0.5rem 1rem;
    display: block;
    min-height: 5rem;
    background-color: var(--navbar-color);
    border-radius: 5px;
  }

  .form-profile textarea:focus {
    outline: none;
  }

  .comment-no {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .answer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .answer-container .answer {
    display: grid;
    grid-template-columns: 10% auto 10%;
  }

  .answer-icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: var(--alternate-color);
    }
  }

  span {
    font-size: 0.8rem;
    // color: #686565;
    color: #666;
  }

  /* aside */

  .aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: 2rem;
  }

  .aside > p {
    color: #686565;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .aside h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .top-contributers {
    display: grid;
    row-gap: 1rem;
  }

  .top-contributer {
    display: grid;
    grid-template-columns: 10% 60% 20%;
  }

  .unanswered-question {
    display: grid;
    grid-template-columns: 10% 30% auto;
    column-gap: 1rem;
    margin-bottom: 3rem;
    // place-items: center;
  }

  .unanswered-question p:last-child {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    grid-column: 1/-1;
    margin-bottom: 1rem;
  }

  .unanswered-content {
    margin-bottom: 1rem;
  }

  .unanswered-question p:last-child {
    font-size: 0.9rem;
    margin-top: 0.2rem;
  }
  .unanswered-question > p:last-child {
    color: #666;
  }
}
@media (width <= 768px) {
  .answer-wrapper {
    display: flex;
    flex-direction: column;

    .aside {
      display: none;
    }
  }
}
