.rti--container {
  --rti-main: none !important;
  background-color: var(--navbar-color) !important;
  //   background-color: transparent !important;

  outline: none !important;
  border: none !important;

  span {
    color: var(--alternate-color) !important;
    background-color: var(--background-color) !important;
    border-radius: 10px !important;
  }

  button {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    font-size: 1rem !important;
    color: var(--font-color-primary) !important;
    transition: all 0.3s ease-in-out !important;
    &:hover {
      color: var(--hover-color) !important;
    }
  }

  input {
    background-color: var(--background-color) !important;
    border: none !important;
    outline: none !important;
    color: var(--font-color-primary) !important;
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
    border-radius: 5px !important;
    transition: all 0.3s ease-in-out !important;
    &:focus {
      outline: 1px solid var(--hover-color) !important;
      color: var(--alternate-color) !important;
    }
  }
}

.post-question-wrapper {
  width: 50%;
  margin-inline: auto;
}

.question-bar {
  h1 {
    margin-block: 2rem;
    font-size: 1.6rem;
  }
}

.new-question-container {
  //   width: 60%;
  //   margin-inline: auto;

  position: relative;
  box-shadow: var(--box-shadow);
  padding: 2rem 4rem;
  margin-bottom: 6rem;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  p {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    color: #666;
  }

  input {
    width: 100%;
    margin-bottom: 2rem;
    border: 0.1px solid var(--font-color-primary) !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--font-color-primary);

    &:focus {
      color: var(--alternate-color);
      outline: 1px solid var(--hover-color);
      border: none !important;
    }
  }

  .tags-title {
    margin-top: 2rem;
  }

  .post-question-footer {
    margin-top: 2rem;
    margin-bottom: 2rem;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.8rem 0.5rem;
      border-radius: 10px;
      margin-bottom: 1rem;
      background-color: var(--background-color);
      color: var(--font-color-primary);
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      width: 150px;
      border: 0.1px solid var(--font-color-primary) !important;
      &:hover {
        background-color: var(--hover-color);
      }

      label {
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;
        color: #666;
      }
    }
  }
}

.post-question-button {
  padding: 0.8rem 1rem;
  position: absolute;
  bottom: -5rem;
  left: 0;
  font-size: 1.1rem;
}

@media (width < 850px) {
  .post-question-wrapper {
    width: 100%;

    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
    .post-question-footer {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

@media (width < 768px) {
  .post-question-button {
    left: 2rem;
  }
}
