.skeleton {
  display: flex;
  flex-direction: column;
}

.skeleton-item {
  margin: 1rem 0;
}

.skeleton-header {
  width: 100%;
  height: 4rem;
  background-color: #ddd;
}

.skeleton-question {
  width: 100%;
  height: 10rem;
  background-color: #ddd;
}

.skeleton-footer {
  width: 100%;
  height: 2rem;
  background-color: #ddd;
}
